@font-face {
    font-family: "Comf";
    src: url('Comfortaa-VariableFont_wght.ttf');
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

p, label, input, textarea, select, button {
    font-family: 'Comfortaa', cursive;
}


/* Header */
header {
    background: #1d7f67;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 20px;
    padding: 15px 0;
    width: 97%;
    margin-left: 20px;
  
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: bold;
}

/* Logo */
.logo img {
    width: 120px;
    height: auto;
}

/* Links do menu */
.navbar-nav .nav-link {
    color: white !important;
    font-weight: 500;
    margin: 0 15px;
    transition: color 0.3s ease;
   
}

.navbar-nav .nav-link:hover {
    color: #a0c6bf !important;
    font-weight: bold;
}

/* Menu dropdown */
.dropdown-menu {
    background: #2c3e50;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background: #1d7f67;
    color: white;
}

/* Botão de Login */
.navbar-nav .btn {
    background: white;
    color: #a0c6bf;
    border-radius: 25px;
    padding: 8px 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar-nav .btn:hover {
    background: #a0c6bf;
    color: white;
}

/* Botão do menu sanduíche */
.navbar-toggler-icon {
    filter: invert(1);
}

/* Responsividade */
@media (max-width: 991px) {
    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        width: 100%;
    }

    .nav-item {
        padding: 10px 0;
    }

    .navbar-toggler {
        display: flex;
        justify-content: end;
        border: none !important;
        outline: none !important;
        padding: 8px 10px;
        border-radius: 5px;
    }
}

/*banner*/
.banner img {
    width: 97%;
    display: block;
    border-radius: 20px;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}

.banner {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Animação para entrada */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

.info-box h2{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;

}
.info-box p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa';

}
.info {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px 20px;
    position: relative;
    margin-top: -200px; /* Ajuste para mover as seções para cima */
    margin-bottom: 20px; /* Diminuir a distância entre Missão/Visão e os Cards */
}

/* Missão e Visão */
.missao, .visao {
    margin-top: 200px;
    position: relative;
    z-index: 2; /* Garantir que fiquem acima do vídeo */
    border-radius: 20px;
    padding: 10px; /* Aumentei o padding para dar mais espaço */
    width: 500px;
    transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.5s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.6s ease-in-out forwards; /* Animação de entrada */
    font-family: 'Poppins', sans-serif; /* Fonte mais agradável */
}

/* Missão */
.missao {
    background-color: #1d7f67;
    color: white;
    text-align: center;
}

.missao h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px; /* Aumentei o tamanho da fonte */
    
    color: #ffffff;
}

.missao p {
    font-size: 18px; /* Tamanho maior para o texto */
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 25px;
}

.missao img {
    width: 80px; /* Aumentei a imagem para dar mais destaque */
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

/* Visão */
.visao {
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
}

.visao h1 {
    font-family: 'Poppins';
    font-size: 24px; /* Aumentei o tamanho da fonte */
    margin-bottom: 15px;
  
    color: #1d7f67; /* Cor de título para harmonizar */
}

.visao p {
    font-size: 18px; /* Tamanho maior para o texto */
    line-height: 1.6;
    color: #333;
    margin-bottom: 25px;
}

.visao img {
    width: 70px; /* Aumentei a imagem para dar mais destaque */
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

/* Efeito de hover nas seções */
.missao:hover, .visao:hover {
    transform: translateY(-10px); 
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
    .info {
        flex-direction: column;
        align-items: center;
        margin-top: 50px; /* Espaçamento entre os elementos para evitar sobreposição */
    }

    .missao, .visao {
        width: 90%;
    }

    .missao h1, .visao h1 {
        font-size: 28px; /* Menor tamanho para telas pequenas */
    }

    .missao p, .visao p {
        font-size: 16px; /* Ajuste no tamanho do texto */
    }

    .missao img, .visao img {
        width: 60px; /* Menor imagem no mobile */
    }
}

/* Cards */
.diagnostic-container {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; /* Adicionado para garantir que os cards se ajustem corretamente */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto; /* Ajuste para evitar que os cards estiquem a altura */
    z-index: 2; /* Garante que os cards fiquem acima do vídeo */
}

.diagnostic-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.diagnostic-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

.diagnostic-item:hover {
    transform: translateY(-10px); /* Animação de hover nos cards */
}

.diagnostic-item a {
    text-decoration: none;
    color: inherit;
}

.diagnostic-item h2 {
    font-size: 20px;
}

.diagnostic-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.diagnostic-item p {
    font-size: 14px;
    color: #333;
    font-family: "Comf";
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .diagnostic-grid {
        grid-template-columns: 1fr; /* Muda para uma coluna em telas menores */
    }

    .diagnostic-container {
        padding: 10px;
    }

    .diagnostic-item {
        width: 90%; /* Faz com que os cards ocupem mais espaço em telas pequenas */
        margin-bottom: 20px; /* Adiciona um pequeno espaçamento inferior */
    }

    .diagnostic-item h2 {
        font-size: 18px; /* Ajuste no tamanho da fonte */
    }

    .diagnostic-item p {
        font-size: 12px; /* Ajuste no tamanho da fonte */
    }
}

/* Ajuste para telas muito pequenas */
@media (max-width: 480px) {
    .diagnostic-item {
        width: 100%; /* Em telas muito pequenas, ocupa toda a largura */
    }

    .diagnostic-item h2 {
        font-size: 16px; /* Ajuste do tamanho da fonte */
    }

    .diagnostic-item p {
        font-size: 12px; /* Ajuste do tamanho da fonte */
    }
}

/* Formulário */
.form-container {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.form-container h2 {
    text-align: center;
    font-family: "Poppins";
    color: #1d7f67;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    font-family: "Comf";
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: "Comf";
}

button {
    width: 100%;
    background: #1d7f67;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Avenir";
    font-size: 16px;
}

button:hover {
    background: #155f4c;
}

#criancaCampos, #adultoCampos {
    display: none;
}

/* Vídeo */
.video-content {
    padding: 0;
    position: relative;
    width: 100%; /* Garantir que o vídeo ocupe 100% da largura disponível */
    height: auto; /* Ajusta automaticamente a altura para manter a proporção */
    border: none !important;
    object-fit: contain;
    margin: 0 auto; /* Centraliza o conteúdo */
    margin-top: 0px; /* Retira a margem superior */
    margin-bottom: 20px; /* Ajuste a margem inferior para o vídeo não sobrepor os outros elementos */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    z-index: 0; /* Garante que o vídeo fique atrás dos outros elementos */
}

/* Vídeo de fundo */
.background-video {
    width: 80%; /* Ajusta a largura para 100% */
    height: auto; /* Mantém a altura proporcional */
    object-fit: cover; /* Garante que o vídeo cubra a área sem distorcer */
    padding: 0;
    outline: none !important;
    border: none !important;
    margin: 0;
}

/* Responsividade para o vídeo */
@media (max-width: 768px) {
    .video-content {
        width: 100%; /* No mobile, faz o vídeo ocupar 100% da largura da tela */
        height: auto; /* Ajuste automático da altura */
        margin-top: 20px; /* Espaçamento acima do vídeo */
    }

    .background-video {
        height: auto;
        object-fit: contain; /* Manter proporções no mobile */
    }
}

@media (max-width: 480px) {
    .video-content {
        width: 100%; /* Garante que no mobile ele ocupe toda a largura */
    }

    .background-video {
        height: 100%; /* Ajuste para que o vídeo se ajuste no espaço disponível */
    }
}

